<% title "#{@shop.name} - Shop Policy" %>

<div class="container">
  <div class="row margin-top-25">
    <div class="col-md-2">
      <div class="shop-sidebar center">
        <p><%= image_tag @shop.user.avatar.url(:profile), class: "img-circle margin-bottom-10" %></p>
        <p><b><%= @shop.user.username %></b></p>
        <p class="margin-bottom-10"><small>Currently in <%= @shop.user.country %></small></p>
        <p class="margin-bottom-5"><b>Have a question?</b></p>
        <p><%= mail_to @shop.user.email, "Contact Shop Owner", class: "btn btn-xs btn-primary" %></p>
      </div>

      <div class="shop-sidebar">
        <p><b>Shop Info</b></p>
        <hr class="small-hr">
        <p><b><%= @shop.name %></b></p>
        <p class="margin-bottom-10"><small>Opened <%= @shop.created_at.strftime("%b %e, %Y") %></p>
        <p><%= link_to "About", shop_about_path(@shop) %></p>
        <p><b><%= link_to "Policies", shop_policy_path(@shop) %></b></p>
        <p><%= link_to "Reviews", shop_reviews_path(@shop) %></p>
        <hr class="small-hr">
        <p class="margin-bottom-5"><%= link_to 'Edit Shop Info', edit_shop_path(@shop), class: "btn btn-xs btn-success full-width" %></p>
        <p><%= link_to 'View Orders', edit_shop_path(@shop), class: "btn btn-xs btn-success full-width" %></p>
      </div>
    </div>
    <div class="col-md-10">
      <% if @shop.cover.present? %>
	      <div class="cover-photo">
	        <%= image_tag @shop.cover.url %>
	      </div>
      <% end %>
      <table class="table table-striped shop-top-section">
        <tbody>
          <tr>
            <td><b><%= @shop.name %></b><p><small><%= @shop.title %></small></p></td>
            <td></td>
            <td></td>
          </tr> 
          <tr>
            <td colspan="3"><p><small><%= @shop.announcement %></small></p></td>
          </tr>
        </tbody>
      </table>
        <table class="table table-bordered">
          <tr >
            <td colspan="2"><p><b>Shop Policies</b> - <small><%= "Last updated #{@shop.updated_at.strftime("%b %e, %Y")}" %></small></p></td>
          <tr>
          <tbody>
            <tr>
              <td><p><b>Welcome</b></p></td>
              <td><p class="text-area"><%= @shop.welcome_message %></p></td>
            <tr>
            <tr>
              <td><p><b>Shipping Policy</b></p></td>
              <td><p class="text-area"><%= @shop.shipping_policy %></p></td>
            <tr>
            <tr>
              <td><p><b>Refund & Exchange Policy</b></p></td>
              <td><p class="text-area"><%= @shop.refund_policy %></p></td>
            <tr>
          </tbody>
        </table>
    </div>
  </div>
</div>

